---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import { siteInfo } from "@consts/site-info";
import type { imageConfig } from "astro:assets";
import Navbar from "@/components/shared/Navbar.astro";

interface Props {
	titulo?: string;
	image?: string;
	description?: string;
}

const {
	titulo = siteInfo.title,
	description = siteInfo.description,
	image,
} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- SEO -->
		<meta name="description" content={description} />
		<meta name="author" content="Sebastián Sanhueza Tapia" />

		<!-- OG Metatags -->
		<meta property="og:title" content={titulo} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content={image} />
		<!-- <meta property="og:image:width" content="1200" /> -->
		<!-- <meta property="og:image:height" content="630" /> -->
		<meta property="og:site_name" content={siteInfo.title} />
		<meta property="og:locale" content="es_ES" />

		<title>{titulo}</title>

		<ClientRouter />
		<!-- <style>
			@view-transition {
				navigation: auto;
			}
		</style> -->
	</head>
	<body class="bg-slate-800 text-slate-100">
		<Navbar />
		<main class="mt-10 m-auto max-w-5xl">
			<slot />
		</main>
	</body>
</html>
